---
import { isAuthorized } from '../../lib/adminAuth';
import { ensureCsrfToken } from '../../lib/adminCsrf';
import AdminEditor from '../../components/AdminEditor.astro';

export const prerender = false;

if (!isAuthorized(Astro)) {
  return Astro.redirect('/admin-control', 302);
}

const csrfToken = ensureCsrfToken(Astro);
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Editor</title>
</head>
<body>
  <AdminEditor csrfToken={csrfToken} />
</body>
</html>
